/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt Times, serif;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/****************************************
  Defaults
*****************************************/


/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

.page {
	height: 100%;
  background-color: $blizzard-blue;
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
  }

}

.inner-content {
  box-shadow: 0 0 7px #555;
}

.primary-header {
  display: flex;
  text-transform: lowercase;

  @include narrower-than(750px) {
    display: block;
    text-align: center;
  }

  .logo {
    font-family: 'Volkhov';
    color: #000;
    font-size: 3.5em;
    
  }

}



.primary-nav {
  width: 100%;

  ul {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    font-family: 'Lustria';
    vertical-align: bottom;
  }

  li {
    flex: auto;
    list-style-type: none;

  }

  a {
    color: $tundora;
    text-decoration: none;
    display: block;
    padding: 30px;
    margin-top: 10px;
  }

}

main {
  padding: 30px 40px;
  background-color: $white;

  h1 {
    color: $picton-blue;
    text-transform: lowercase;
    font-size: 2.5em;
    font-family: 'Volkhov';
    // font-weight: 700;
  }

  h2 {
    color: $orange-peel;
    text-transform: lowercase;
    font-size: 1.5em;
    font-family: 'Bree Serif';
  }

  .details {
    text-align: justify;
    font-family: 'Lustria';
    font-size: .9em;
    
    .detail {
      background-color: $white-ice;
      padding: 10px;
      border-top: 1px solid $mint-tulip;
      border-left: 1px solid $mint-tulip;
      border-right: 1px solid $mint-tulip;

      p {
        margin: 0;
      }

      h3 {
        text-size: 1em;
        margin-top: 0;
        margin-bottom: 10px;
      }

      ul {
        list-style-type: none;
      }

      li:before {
        font-size: 1.2em;
        content: "• ";
        color: $picton-blue;
      }

    }
    .detail:last-child {
      border-bottom: 1px solid $mint-tulip;
    }
  }
}

.primary-footer {
  
  ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;

    li {

      a {
        text-decoration: none;
        margin: 0 5px;
      }

      a:hover {
        color: $cerulean;
      }
      
    }

  }

}


/****************************************
  Components
*****************************************/