//text color
$tundora: #434343;

$picton-blue: #1eb7ea;

$orange-peel: #fe9c00;

//background colors
$white: #fff;

$blizzard-blue: #afe0f1;

$mint-tulip: #d3eef7;

$white-ice: #ebf7fc;

//hover footer a
$cerulean: #0da4dd;